<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}Dolphin Fitness{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
                    <span class="app-name" style="color: white;">Dolphin Fitness</span>
                </a>
            </div>
            
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}! </p>
                    <form id="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <li><a href="{% url 'register_user' %}">Register user</a></li>
                <li><a href="{% url 'user_list' %}">Users</a></li>
                <li><a href="{% url 'add_payment' %}">Add Payment</a></li>
                <li><a href="{% url 'payment_list' %}">Payment List</a></li>
                <li><a href="{% url 'check_payment_status' %}">Payment Check</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Dolphin Fitness</p>
    </footer>
</body>
</html>